:root {
  --brown: #8a6853;
  --semi-black: #1d1305;
  --shadow: 0 2px 2px rgb(0, 0, 0/0.5);
  --text-shadow: 0 0 10px white, 0 0 20px rgb(249, 193, 141), 0 0 30px rgb(196, 139, 17), 0 0 40px rgb(181, 83, 9), 0 0 50px #1d1305, 0 0 60px rgba(255, 187, 0, 0.777), 0 0 70px white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.2rem;
  font-family: "Mali", sans-serif;
}

.arab {
  font-size: 1.6rem;
  font-family: "Amiri";
  margin-top: 50px;
  margin-bottom: 20px;
}

.arti {
  font-size: 1rem;
  font-family: "Mali";
}

.ref {
  font-size: 1rem;
  font-family: "Amiri";
  font-style: italic;
}

.hero {
  min-height: 100vh;
  background-color: var(--semi-black);
}

.hero h4 {
  font-size: 1.6rem;
  font-family: "UnifrakturMaguntia", cursive;
  color: goldenrod;
}

.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 6rem;
  text-shadow: var(--text-shadow);
}

.hero p {
  font-size: 1.2rem;
}

.hero a {
  color: var(--semi-black);
  background-color: goldenrod;
  font-size: 1.2rem;
}

.hero a:hover {
  background-color: white;
  color: goldenrod;
}

/* section */

.satu {
  min-height: 100vh;
  background-color: whitesmoke;
  /* padding-top: 40px;
  padding-bottom: 40px; */
}

.satu h4 {
  font-family: "Sacramento";
  font-size: 2rem;
}

.satu h1 {
  font-size: 3rem;
  color: var(--brown);
  text-shadow: var(--text-shadow);
}

.satu img {
  border: 4px double beige !important;
}

.dua {
  background-image: none;
  background-color: var(--semi-black);
  color: wheat;
}

.dua h1 {
  font-family: "Sacramento";
  font-size: 4rem;
  color: beige;
  margin: 50px;
}

.tiga .couple {
  margin-top: 100px;
}

.tiga .and {
  padding-top: 70px;
}

.tiga h3 {
  font-family: "Sacramento";
  font-size: 2.4rem;
  color: var(--semi-black);
}

.tiga .and img {
  width: 100px;
  margin: 30px;
}

.tiga .mempelai img {
  width: 150px;
  margin-bottom: 30px;
  /* border: 2px solid goldenrod; */
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 5px 5px 10px 10px beige;
}

.tiga .bismillah {
  font-family: "Amiri";
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 50px;
  opacity: 0.7;
}

.tiga p {
  font-size: 1.2rem;
}

.tiga .parents {
  font-size: 1rem;
}

.empat {
  background-color: var(--semi-black);
  color: whitesmoke;
}

.empat .note {
  background-color: wheat !important;
  color: var(--semi-black);
  padding: 10px;
  border-radius: 20px;
}

.empat .card {
  background-color: bisque;
  border: 2px solid white;
}

.empat .tgl {
  border: 2px solid white !important;
  color: white;
  width: 150px;
  padding: 20px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.divider {
  border: 1px dashed white;
}

.empat .tgl h1 {
  margin: 5px;
  text-shadow: var(--text-shadow);
}

.empat h1 {
  font-family: "Sacramento";
  font-size: 4rem;
  margin: 50px;
  color: antiquewhite;
}

.empat .lokasi h4 {
  font-size: 1.2rem;
  color: whitesmoke;
}

.empat .lokasi p {
  font-size: 1rem;
  opacity: 0.7;
}

.empat .lokasi .peta {
  background-color: whitesmoke;
  margin-bottom: 20px;
}

.empat .lokasi iframe {
  border: 4px double white;
  /* box-shadow: 0 4px 8px 0 rgb(249, 247, 247), 0 6px 20px 0 rgb(246, 244, 244); */
}

.syiar h1 {
  font-family: "Sacramento";
  font-size: 4rem;
  color: var(--brown);
  margin: 50px;
}

.syiar .kegiatan {
  text-align: justify;
}

.syiar a {
  background-color: var(--brown);
  color: white;
  border-radius: 15px;
  padding: 15px;
}

.lima {
  background-color: var(--semi-black);
}

.lima .adab {
  font-size: 0.7rem;
  margin-top: 50px;
  margin-bottom: 100px;
}

.lima h1 {
  font-family: "Sacramento";
  font-size: 4rem;
  margin: 50px;
}
.lima img {
  width: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 0;
}

.enam .card {
  border: 2px double var(--brown);
  border-top-left-radius: 30%;
  border-bottom-right-radius: 30%;
  padding: 20px;
}

.enam h1 {
  font-size: 4rem;
  font-family: "Sacramento";
  margin-top: 20px;
}

.rsvp {
  background-color: var(--semi-black);
  padding-top: 50px;
  padding-bottom: 50px;
}

.rsvp h1 {
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  color: bisque;
  opacity: 0.7htm;
}

.rsvp label {
  color: white;
  font-size: 1rem;
}

.rsvp button {
  background-color: antiquewhite;
}

.rsvp button:hover {
  background-color: var(--brown);
  color: antiquewhite;
}

.end .card {
  background-color: antiquewhite;
  border: 2px dotted var(--brown);
  padding: 50px;
}

.end h1 {
  font-size: 6rem;
  color: #8a6853;
  margin: 10px;
}

.end p {
  font-size: 1.1rem;
  color: var(--semi-black);
}

.end img {
  width: 150px;
  margin-bottom: 30px;
  /* border: 2px solid goldenrod; */
  /* box-shadow: 5px 5px 10px 10px beige; */
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  cursor: pointer;
  color: bisque;
  mix-blend-mode: difference;
  opacity: 0.6;
}

.footer {
  background-color: bisque;
  height: 150px;
  font-size: 1rem;
  font-family: "Amiri", sans-serif;
}

/* .hero { */
/* overflow: hidden; */
/* color: #000;   
  line-height: 50px; */

/* transition: all 0.5s ease-out; */
/* height: auto; */
/* } */

/* .hero:target { */
/* height: 0;
  overflow: hidden; */
/* display: hidden; */
/* } */

/* Zoom-in Zoom-out*/

/* Extra Large */
/* @media (max-width: 1200px) {
  .tiga .and {
    transform: translateX(-50%) translateY(85px);
  }
} */

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
}
